* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
  background-color: #fff;
  width: 100%;
}

.logo  {
  align-self: left;
}

#video-file {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  position: relative;
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

header nav {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

header nav ul {
  padding: 1rem;
  text-align: right;
}

header nav li {
  display: inline-block;
  list-style: none;
}

header nav li a {
  font-size: 18px;
  padding: 0px 30px;
  color: black;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer nav li {
  display: inline-block;
  list-style: none;

}

footer nav a {
  color: black;
}

@media only screen and (min-width: 600px) {
  #grid-container {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }

  flex-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}