* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

header {
grid-area: header;
background-color: #fff;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

hr {
  border: 1pt solid #000;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#container ul {
  display: flex;
  padding: 5px;
}

#container ul li {
  padding: 1rem;
  font-weight: 900;
}

.button {
  background-color: #e6bd43;
  padding: 15px;
  width: fit-content;
}

#logo {
  width: 120px;
  padding: 1rem;
}

#compeling-headline {
  background-image: linear-gradient(rgba(255, 255, 255, 0.305), rgba(255, 255, 255, 0.305)), url("img/forside-header.jpg");
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 2rem 3rem;
}

#compeling-headline h1 {
  font-size: 4rem;
  font-weight: 900;
}

#compeling-headline p {
  font-weight: 700;
  margin: 0;
}